*, *::before, *::after {
    box-sizing: border-box;
}
body {
	font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    font-size: 1.5rem;
}
main {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    display: flex;
    gap: 1em;
}
button {
    min-width: 8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1em;
}
span {
    font-size: 150%;
    font-weight: bold;
}
.flex {
    display: flex;
    gap: 2rem;
}
.current, .history {
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    width: 400px;
}